@font-face {
    font-family: "iconfont"; /* project id 1282267 */
    src: url("//at.alicdn.com/t/font_1282267_ntpdiy4o5q.eot");
    src: url("//at.alicdn.com/t/font_1282267_ntpdiy4o5q.eot?#iefix")
        format("embedded-opentype"),
      url("//at.alicdn.com/t/font_1282267_ntpdiy4o5q.woff2") format("woff2"),
      url("//at.alicdn.com/t/font_1282267_ntpdiy4o5q.woff") format("woff"),
      url("//at.alicdn.com/t/font_1282267_ntpdiy4o5q.ttf") format("truetype"),
      url("//at.alicdn.com/t/font_1282267_ntpdiy4o5q.svg#iconfont") format("svg");
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased; /*字体清除锯齿效果*/
    -webkit-text-stroke-width: 0.2px; /*文本外边框大小*/
    -moz-osx-font-smoothing: grayscale;
  }